$font-family-sans-serif: "Open Sans", sans-serif;
$font-family-base: $font-family-sans-serif;
$font-family-headings: $font-family-sans-serif;

// Font sizes
$font-size-base: 16px;

$font-size-body-copy: rem(16px);
$font-size-h1: rem(28px);
$font-size-h2: rem(24px);
$font-size-h3: rem(24px);
$font-size-h4: rem(22px);
$font-size-h5: rem(18px);
$font-size-h6: rem(18px);
$font-size-button-copy: rem(16px);
$font-size-small: rem(14px);
$font-size-xsmall: rem(12px);

$red-500: #f00;
$red-550: #d0021b;
$red-600: #c22622;
$red-700: #b00120;